@using WebBanLaptop.Common.Helpers
@model PagedList.IPagedList<WebBanLaptop.Models.Order>
@using PagedList.Mvc
@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<link rel="stylesheet" href="~/Content/PagedList.css" />
<!--start tracking order-->
@if (User.Identity.IsAuthenticated)
{
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--black">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                    <li>
                                        <a href="#">Tài khoản</a>
                                    </li>
                                    <li class="active" aria-current="page">
                                        Lịch sử mua hàng
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...:::: End Breadcrumb Section:::... -->
    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account-dashboard">
        <div class="container">
            <div class="row">
                @Html.Partial("Dashboard")
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="0">
                        <div id="orders">
                            <h4>Lịch sử mua hàng</h4>
                            <div class="table_page table-responsive" style="overflow-x: hidden; border-left: 0.5px solid #0000001c; border-right: 0.5px solid #0000001c; border-top: 0.5px solid #0000001c;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Đơn Hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Trạng thái</th>
                                            <th>Số lượng đặt</th>
                                            <th>Tổng Tiền</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Order_date.ToString("HH:mm dd-MM-yyyy")</td>
                                                <td>@(item.Status == "1" ? "Chờ xử lý": item.Status == "2"? "Đang xử lý" : item.Status == "3" ? "Hoàn thành": "Bị hủy")</td>
                                                <td>@item.Order_Detail.Sum(m => m.Quantity)</td>
                                                <td>@item.Total.ToString("#,0₫")</td>
                                                <td><a href="@Url.Action("TrackingOrderDetail","Account",new {id=item.Order_id})" class="view">Xem</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mt-5 d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="0">
                            <div>
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                @Html.PagedListPager(Model, page => Url.Action("TrackingOrder", new { page }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...:::: End Account Dashboard Section:::... -->

}

