
@{
    ViewBag.Title = "Bảng điều khiển";
    Layout = "~/Areas/Admin/Views/Shared/Main_Layout.cshtml";
    var Order = (List<WebBanLaptop.Models.Order>)ViewBag.Order;
    var ListOrderDetail = (List<WebBanLaptop.Models.Order_Detail>)ViewBag.ListOrderDetail;
    var OrderDetail = (List<WebBanLaptop.Models.Order_Detail>)ViewBag.OrderDetail;
    var listOrder = (List<WebBanLaptop.Models.Order>)ViewBag.ListOrder;
    var statistical = (List<WebBanLaptop.Models.Order>)ViewBag.Statistical;
    double statistical_price = Convert.ToDouble(statistical.Where(m => m.Status == "3").Sum(m => m.Total));
    DateTime getLastMonth = DateTime.Now.AddMonths(-1);
    double totalOrderThisMonth = Convert.ToDouble(Order.Where(m => m.Order_date.Month == DateTime.Now.Month && m.Order_date.Year == DateTime.Now.Year && m.Status == "3").Count());
    double totalOrderLastMonth = Convert.ToDouble(Order.Where(m => m.Order_date.Month == getLastMonth.Month && m.Order_date.Year == DateTime.Now.Year && m.Status == "3").Count());
    double totalPriceOrderThisMonth = Convert.ToDouble(Order.Where(m => m.Order_date.Month == DateTime.Now.Month && m.Order_date.Year == DateTime.Now.Year && m.Status == "3").Sum(m => m.Total));
    double totalPriceOrderLastMonth = Convert.ToDouble(Order.Where(m => m.Order_date.Month == getLastMonth.Month && m.Order_date.Year == DateTime.Now.Year && m.Status == "3").Sum(m => m.Total));
    double percentOrder = (totalOrderThisMonth - totalOrderLastMonth);
    double percentPriceOrder = (((totalPriceOrderThisMonth - totalPriceOrderLastMonth) / (totalPriceOrderLastMonth)));
    double total = 0;
    double total2 = 0;
}
<!--begin::toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Thống kê</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="h-20px border-gray-300 border-start mx-4"></span>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a class="text-muted text-hover-primary">Bảng điều khiển</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-300 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-dark">Thống kê</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <!--begin::Row-->
        <!--<div class="row g-5 g-xl-10">
            <div class="col-xl-12 mb-5 mb-xl-10">
                <div class="card card-flush h-xl-100">
                    <div class="card-header pt-7">-->
                        <!--begin::Title-->
                        <!--<h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Thống kê</span>
                        </h3>-->
                        <!--end::Title-->
                    <!--</div>
                    <div class="card-body">
                        <form method="post">
                            <table class="table align-middle table-row-dashed fs-6 gy-3">
                                <tr>
                                    <td>Từ ngày</td>
                                    <td><input type="datetime-local" id="from-date" name="from-date" /></td>
                                </tr>
                                <tr>
                                    <td>Đến ngày</td>
                                    <td><input type="datetime-local" id="to-date" name="to-date" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="submit" value="Thống kê" onclick="Statistical(@statistical_price)" /></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
        <!--end::Row-->
        <!--begin::Row-->
        <div class="row g-5 g-xl-10">
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
                <!--begin::Card widget 4-->
                <div class="card card-flush h-md-50 mb-5 mb-xl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center">
                                <!--begin::Currency-->
                                <span class="fs-4 fw-bold text-gray-400 me-1 align-self-start">₫</span>
                                <!--end::Currency-->
                                <!--begin::Amount-->
                                <span class="fs-2hx fw-bolder text-dark me-2 lh-1" id="statistical_price">@Order.Where(m => m.Order_date.Month == DateTime.Now.Month && m.Order_date.Year == DateTime.Now.Year).Sum(m => m.Total).ToString("#,0")</span>
                                <!--end::Amount-->
                                <!--begin::Badge-->
                                @if (totalPriceOrderLastMonth < totalPriceOrderThisMonth)
                                {
                                    <span class="badge badge-success fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <i class='bx bx-up-arrow-alt' style='color:#ffffff'></i>
                                        @((percentPriceOrder).ToString("0%"))
                                    </span>
                                    <!--end::Badge-->
                                }
                                else
                                {
                                    <span class="badge badge-danger fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <i class='bx bx-down-arrow-alt' style='color:#ffffff'></i>
                                        @((-percentPriceOrder).ToString("0%"))
                                    </span>
                                    <!--end::Badge-->
                                }
                            </div>
                            <!--end::Info-->
                            <!--begin::Subtitle-->
                            <span class="text-gray-400 pt-1 fw-bold fs-6">Tổng doanh thu tháng</span>
                            <!--end::Subtitle-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-2 pb-4 d-flex align-items-center">
                        <!--begin::Labels-->
                        <div class="d-flex flex-column content-justify-center">
                            @foreach (var order in Order)
                            {
                                foreach (var orderDetail in OrderDetail)
                                {
                                    if (orderDetail.Order_id == order.Order_id && orderDetail.Product.Type == 1 && order.Order_date.Month == DateTime.Now.Month && order.Order_date.Year == DateTime.Now.Year)
                                    {
                                        total += order.Total;
                                    }

                                    if (orderDetail.Order_id == order.Order_id && orderDetail.Product.Type == 2 && order.Order_date.Month == DateTime.Now.Month && order.Order_date.Year == DateTime.Now.Year)
                                    {
                                        total2 += order.Total;
                                    }

                                }
                            }
                            <!--begin::Label-->
                            <div class="d-flex fs-6 fw-bold align-items-center">
                                <!--begin::Bullet-->
                                <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                                <!--end::Bullet-->
                                <!--begin::Label-->
                                <div class="text-gray-500 pe-1">Laptop</div>
                                <!--end::Label-->
                                <!--begin::Stats-->
                                <div class="ms-auto fw-boldest text-gray-700 min-w-70px text-end">@total.ToString("#,0₫")</div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Label-->
                            <!--begin::Label-->
                            <div class="d-flex fs-6 fw-bold align-items-center my-3">
                                <!--begin::Bullet-->
                                <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                                <!--end::Bullet-->
                                <!--begin::Label-->
                                <div class="text-gray-500 pe-1">Phụ kiện</div>
                                <!--end::Label-->
                                <!--begin::Stats-->
                                <div class="ms-auto fw-boldest text-gray-700 min-w-70px text-end">@total2.ToString("#,0₫")</div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Label-->
                        </div>
                        <!--end::Labels-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card widget 4-->
                <!--begin::Card widget 5-->
                <div class="card card-flush h-md-50 mb-xl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center">
                                <!--begin::Amount-->
                                <span class="fs-2hx fw-bolder text-dark me-2 lh-1">
                                    @Order.Where(m => m.Order_date.Month == DateTime.Now.Month && m.Order_date.Year == DateTime.Now.Year).Count()
                                </span>
                                <!--end::Amount-->
                                @if (totalOrderThisMonth < totalOrderLastMonth)
                                {
                                    <!--begin::Badge-->

                                    <span class="badge badge-danger fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <i class='bx bx-down-arrow-alt' style='color:#ffffff'></i>
                                        <span>@(((0) - percentOrder).ToString())</span>
                                    </span>
                                    <!--end::Badge-->
                                }
                                else
                                {
                                    <!--begin::Badge-->
                                    <span class="badge badge-success fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <i class='bx bx-up-arrow-alt' style='color:#ffffff'></i>
                                        <span>@((percentOrder).ToString())</span>
                                    </span>
                                    <!--end::Badge-->
                                }
                            </div>
                            <!--end::Info-->
                            <!--begin::Subtitle-->
                            <span class="text-gray-400 pt-1 fw-bold fs-6">Đơn hàng trong tháng</span>
                            <!--end::Subtitle-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                </div>
                <!--end::Card widget 5-->
            </div>
            <!--begin::Col-->
            <div class="col-xl-6 mb-md-5 mb-xl-10">
                <!--begin::Tables widget 2-->
                <div class="card h-md-100">
                    <!--begin::Header-->
                    <div class="card-header align-items-center border-0">
                        <!--begin::Title-->
                        <h3 class="fw-bolder text-gray-900 m-0">Sản phẩm bán ra gần đây</h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-2">
                        <!--begin::Nav-->
                        <ul class="nav nav-pills nav-pills-custom mb-3">
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden active w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_2">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <i class='bx bx-laptop' style='color:#3878d1; font-size: 30px;'></i>
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-700 fw-bolder fs-6 lh-1">Laptop</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_3">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <i class='bx bxs-keyboard' style='color:#3878d1; font-size: 30px;'></i>
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-600 fw-bolder fs-6 lh-1">P.kiện</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                        </ul>
                        <!--end::Nav-->
                        <!--begin::Tab Content-->
                        <div class="tab-content">
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade show active" id="kt_stats_widget_2_tab_2">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                                <th class="ps-0 w-50px">Item</th>
                                                <th class="min-w-140px"></th>
                                                <th class="text-end min-w-140px">SL</th>
                                                <th class="pe-0 text-end min-w-120px">Đơn giá</th>
                                                <th class="pe-0 text-end min-w-120px">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            @foreach (var laptop in ListOrderDetail)
                                            {
                                                if (laptop.Product.Type == 1)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@laptop.Product.Image" class="w-50px ms-n1" alt="" />
                                                        </td>
                                                        <td class="ps-0">
                                                            <a target="_blank" href="~/@SlugGenerator.SlugGenerator.GenerateSlug(laptop.Product.Product_name)-@laptop.Product_id" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@laptop.Product.Product_name</a>
                                                            <span class="text-gray-400 fw-bold fs-7 d-block text-start ps-0">Item: #@laptop.Product_id</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-gray-800 fw-bolder d-block fs-6 ps-0 text-end">x<span>@laptop.Quantity</span></span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@laptop.Price.ToString("#,0₫")</span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@((laptop.Price * laptop.Quantity).ToString("#,0₫"))</span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                </div>
                                <!--end::Table-->
                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade" id="kt_stats_widget_2_tab_3">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                                <th class="ps-0 w-50px">Item</th>
                                                <th class="min-w-140px"></th>
                                                <th class="text-end min-w-140px">SL</th>
                                                <th class="pe-0 text-end min-w-120px">Đơn giá</th>
                                                <th class="pe-0 text-end min-w-120px">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            @foreach (var accessory in ListOrderDetail)
                                            {
                                                if (accessory.Product.Type == 2)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@accessory.Product.Image" class="w-50px ms-n1" alt="" />
                                                        </td>
                                                        <td class="ps-0">
                                                            <a target="_blank" href="~/@SlugGenerator.SlugGenerator.GenerateSlug(accessory.Product.Product_name)-@accessory.Product_id" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0">@accessory.Product.Product_name</a>
                                                            <span class="text-gray-400 fw-bold fs-7 d-block text-start ps-0">Item: #@accessory.Product_id</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-gray-800 fw-bolder d-block fs-6 ps-0 text-end">x<span>@accessory.Quantity</span></span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@accessory.Price.ToString("#,0₫")</span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@((accessory.Price * accessory.Quantity).ToString("#,0₫"))</span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                </div>
                                <!--end::Table-->
                            </div>
                            <!--end::Tap pane-->
                        </div>
                        <!--end::Tab Content-->
                    </div>
                    <!--end: Card Body-->
                </div>
                <!--end::Tables widget 2-->
            </div>
            <!--end::Col-->
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
                <!--begin::Card widget 6-->
                <div class="card card-flush h-md-100 mb-5 mb-xl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center">
                                <span class="fs-4 fw-bold text-gray-400 me-1 align-self-start">₫</span>
                                <span class="fs-2hx fw-bolder text-dark me-2 lh-1">@Order.Where(m => m.Order_date.Day == DateTime.Now.Day && m.Order_date.Month == DateTime.Now.Month && m.Order_date.Year == DateTime.Now.Year).Sum(m => m.Total).ToString("#,0")</span>
                            </div>
                            <!--end::Info-->
                            <!--begin::Subtitle-->
                            <span class="text-gray-400 pt-1 fw-bold fs-6">Doanh số bán hàng hằng ngày</span>
                            <!--end::Subtitle-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                </div>
                <!--end::Card widget 6-->
            </div>
        </div>
        <!--end::Row-->
        <!--begin::Row-->
        <div class="row gy-5 g-xl-10">
            <!--begin::Col-->
            <div class="col-xl-12 mb-5 mb-xl-10">
                <!--begin::Table Widget 4-->
                <div class="card card-flush h-xl-100">
                    <!--begin::Card header-->
                    <div class="card-header pt-7">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Đơn đặt hàng</span>
                        </h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body">
                        <!--begin::Table-->
                        <table class="table align-middle table-row-dashed fs-6 gy-3">
                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                    <th class="min-w-100px">Order ID</th>
                                    <th class="text-end min-w-100px">Ngày tạo</th>
                                    <th class="text-end min-w-125px">Khách hàng</th>
                                    <th class="text-end min-w-125px">Số điện thoại</th>
                                    <th class="text-end min-w-100px">Tổng cộng</th>
                                    <th class="text-end min-w-50px">Status</th>
                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody class="fw-bolder text-gray-600">
                                @foreach (var item in listOrder)
                                {
                                    <tr>
                                        <td>
                                            <a class="text-gray-600 fw-bold" target="_blank" href="@Url.Action("Details","Order",new { id = item.Order_id})">#@item.Order_id</a>
                                        </td>
                                        <td class="text-end">@item.Order_date.ToString("HH:mm dd-MM-yyyy")</td>
                                        <td class="text-end">
                                            <a class="text-gray-600 text-hover-primary" target="_blank" href="@Url.Action("Details","Auth",new { id = item.Account_id})">@item.OrderAddress.OrderUsername</a>
                                        </td>
                                        <td class="text-end">@item.OrderAddress.OrderPhonenumber</td>
                                        <td class="text-end">@item.Total.ToString("#,0₫")</td>
                                        <td class="text-end">
                                            @if (item.Status == "1")
                                            {
                                                <span class="badge py-3 px-4 fs-7 badge-light-warning">Chờ xử lý</span>
                                            }
                                            else if (item.Status == "2")
                                            {
                                                <span class="badge py-3 px-4 fs-7 badge-light-info">Đang xử lý</span>
                                            }
                                            else if (item.Status == "3")
                                            {
                                                <span class="badge py-3 px-4 fs-7 badge-light-success">Hoàn thành</span>
                                            }
                                            else
                                            {
                                                <span class="badge py-3 px-4 fs-7 badge-light-danger">Đã hủy</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Table Widget 4-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
<script>
    function Statistical(price1) {
        $("#statistical_price").text(price1);
    }
</script>